* {
    text-align: center;
    font-family: sans-serif;
    color: rgb(0,0,0);
}

body {
    background-color: rgb(220,220,220)
}

h1 {
    font-size: 50px;
}

button {
    width: 300px;
    height: 70px;
    font-size: 30px;
}

.main {
    color: rgb(0,0,0);
    background-color: rgb(125,250,150);
}

.community {
    color: rgb(0,0,0);
    background-color: rgb(125,200,250);
}

.editor {
    color: rgb(0,0,0);
    background-color: rgb(250,150,125);
}

.button1 {
    width: 100px;
    height: 30px;
    font-size: 12px;
}

.character{
    left: 0px;
    position: absolute;
}

.stats {
    color: rgb(125, 125, 125);
}

.mapData {
    font-size: large;
    width: 230px;
    height: 260px;
}

.key {
    font-size: x-small;
    color: rgb(125, 125, 125);
}
